<div class="gridster">
  <ul>
    <li data-row="1" data-col="1" data-sizex="4" data-sizey="1">
      <div data-id="welcome" data-view="Text" data-title="hello there, SIGNAL" data-text="let's look at some data" data-moreinfo=":)"></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="clock" data-view="Clock" style="background-color:#a401d3"></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="forecast" data-view="Forecast" data-color="white", data-title="SF Forecast"></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="demo-temp" data-view="Number" data-title="Room Temperature" data-moreinfo="degrees F"></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="demo-pressure" data-view="Meter" data-title="How much pressure?" data-min="0" data-max="100"></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="demo-door" data-view="Door" data-title="Is the switch open?" style="background-color:#22dc79" data-dooropen='YES!' data-doorclosed='NO!'></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="demo-light" data-view="Meter" data-title="How bright is it?" data-min="0" data-max="100" style="background-color:#cf098b"></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="demo-alarm" data-view="Demoalarm" data-title="Set the alarm!" data-cloudon="Turn the alarm on." data-cloudoff="Turn the alarm off."></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="demo-motion" data-view="Meter" data-title="Did something move?" data-min="0" data-max="100"></div>
    </li>

  </ul>
  <center><div style="font-size: 12px">created by Kristin Salomon using the dashing-js port of dashing.io</div></center>
</div>
<%- contentFor('title') %>
my SIGNAL dashboard
